.head-text {
    text-align: center;
}

img {
    width: 70%;
    border-radius: 8px;
    display: block;
    margin: auto;
}

#list1 {
    text-align: left;
}

#list2 {
    text-align: right;
}

.list-group-item {
    font-size: 1.5rem;
    padding: 12px 18px;
    border-radius: 6px;
    border: 4px solid red;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    background-color: lightgrey;
    text-align: center;
    padding: 4%;
}

.navigation-links a {
    padding: 10px 25px;
    font-size: 1.1rem;
    border-radius: 8px;
}

